In [1]:
## Loops

In [2]:
# while loop

In [3]:
# A person will retire at the age of 60

In [4]:
joining_age = 25 
while joining_age <= 60:
    joining_age = joining_age+1
    print(joining_age)

26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61

In [5]:
joining_age = 25 
while joining_age <= 60:
    joining_age = joining_age+1
    print(joining_age)
else:
    print('its time for retirement')

26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
its time for retirement

In [6]:
# exercise
# there is an ATM machine which has 1000 rupees as initial balance. 
# At each withdrawal of 100 rupees the balance in the machine gets reduced by 100 rupees. 
# the machine can give out cash until the balance becomes zero

In [7]:
balance=1000
while balance>=0:
    balance=balance-100
    print(balance)
else: 
    print('sorry! no cash')

900
800
700
600
500
400
300
200
100
0
-100
sorry! no cash

In [11]:
balance=1000
while balance>=0:
    print(balance)
    balance=balance-100
else:
    print('sorry! no cash')

1000
900
800
700
600
500
400
300
200
100
0
sorry! no cash

In [12]:
## for loop

In [13]:
lst = ['apple', 'mango', 1, 2, 3, 'banana']
lst

['apple', 'mango', 1, 2, 3, 'banana']

In [15]:
type(lst)

list

In [16]:
# indexing of list

In [17]:
lst[0]

'apple'

In [18]:
lst[2]

1

In [19]:
print(lst)

['apple', 'mango', 1, 2, 3, 'banana']

In [20]:
for x in lst:
    print(x)

apple
mango
1
2
3
banana

In [21]:
bike_list = ['honda', 'suzuki', 'TVS', 'yamaha', 'hero']
print(bike_list)

['honda', 'suzuki', 'TVS', 'yamaha', 'hero']

In [22]:
for y in bike_list:
    print(y)

honda
suzuki
TVS
yamaha
hero

In [24]:
for y in bike_list:
    print(y,end=' ')

honda suzuki TVS yamaha hero

In [26]:
for y in bike_list:
    print(y)
    if y=='yamaha':
        print('worlds number 1 bike selling company')

honda
suzuki
TVS
yamaha
worlds number 1 bike selling company
hero

In [28]:
for y in bike_list:
    print(y)
    if y=='TVS':
        print('worlds number 1 bike selling company')
        break

honda
suzuki
TVS
worlds number 1 bike selling company

In [29]:
## a string is a list itself

In [30]:
name = 'souvik'
for z in name:
    print(z)

s
o
u
v
i
k

In [31]:
name = 'souvik'
for z in name:
    print(z,end='')

souvik

In [32]:
name[2]

'u'

In [34]:
name[5]

'k'

In [35]:
## nested loops

In [52]:
for i in range(1,6,2):
    print(i)

TypeError: 'tuple' object is not callable